.abstract__background {
    background-image: url('./img/AbstractBackgroundContactUs.webp');
    background-size: cover;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 50vh; 
}

h1 {
    font-size: 60px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 15fr) repeat(3, 1fr);
    grid-template-rows: repeat(2, 8fr) repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center; 
    text-align: center; 
    }
    
    .article1 { grid-area: 1 / 1 / 2 / 2; }
    .article2 { grid-area: 1 / 2 / 2 / 3; }
    .article3 { grid-area: 2 / 2 / 3 / 3; }
    .article4 { grid-area: 2 / 1 / 3 / 2; }

    article {
        margin-bottom: 7px;
    }

    .message__us {
        text-align: center;
        margin-top: 30px;
    }