.branch__body {
    background-image: url(/img/branchBackGround.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
}

.flex__Container__Branch1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    padding: 200px 100px 0 100px;
    height: 600px;
  }
  
  .flex__items__branch1:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
  
  .flex__items__branch1:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  #top__brands {
    font-size: x-large;
  }

  .flex__Container__Branch2 {
    display: flex;
    justify-content: space-between;
    border: 8px solid white; 
    padding: 1px; 
    background-color: black;
}

.flex__Container__Branch2 article {
    width: 48%;
    padding: 1px;
}

.brands__page {
    color: rgba(163,145,97,255);
}

.shop__link {
    color: rgba(163, 145, 97, 1);
    font-weight: bold;
}

