.categoryList__body {
    background-color: black;

}

.categoryList {
    background-color: white !important;
    color: black;


    /* height: auto; */
    display: grid;
    grid-template-areas:
        'category sortby sidebar'
        'category content sidebar'
        'category content sidebar'
    ;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 88px 1fr 1fr;

    margin: 2px 5%;
}

/* grid body  */

.categoryList__header {
    grid-area: sortby;

    margin: 1% 1% 1% 1%;
}

.categoryList__sortBy {
    background: lightgray;

    padding: 10px;
}

.categoryList__h1 {
    padding: 10px;
}

.categoryList__category {
    grid-area: category;

    background: lightgray;
    color: beige;
    margin: 2% 2% 2% 2%;
    padding: 10px;
}

/* .categoryList__shopBy {
    grid-area: shopby;

    background: lightgray;
    margin: 2% 2% 2% 2%;
    padding: 10px;
} */

.categoryList__products {
    grid-area: content;

    margin: 1% 1% 1% 1%;
}

.categoryList__sidebar {
    grid-area: sidebar;

    margin: 2% 2% 2% 2%;
    padding: 10px;
}

.categoryList__header,
.categoryList__category,
.categoryList__shopBy,
.categoryList__products,
.categoryList__sidebar {
    color: black;
}

.categoryList__h3 {
    text-transform: uppercase;
}

/* ---  */

.categoryNav__navItem {
    color: black !important;
}


/* ----------------categoryListFromShop.js--------------  */

.categoryList__Ul {
    display: flex;
    gap: 4%;
    
    flex-wrap: wrap;
    padding: 0 0 0 2%;
}

.product__box {
    list-style: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    /* width: 22%; */
    width: 190px;
    margin-bottom: 2%;
}

.product__figure {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 200px;
    padding: 10% 0;

    border: lightgray 1px solid;
}

.product__img {
    width: 190px;
}


.product__currentPrice {
    color: darkgray;
    font-weight: 500;
    font-size: 16px;
}

.product__previousPrice {
    font-size: 14px;
    text-decoration: line-through;
    color: lightgray;
}


.product__button {
    padding: 5px 10px;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: bold;
    background-color: rgba(139, 109, 50, 0.848);
    border: none;
}

.product__img[src="/img_db/hojtalere/harbeth_monitor30.jpg"] {
    height: 150px;
}


/* Updated CSS to arrange grid containers */
/* -----dette skal sættes på UL + LI'er ovenfor istedet---  */
.product__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.productResults{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    row-gap: 20px;
    grid-column: 2;
   
  }
  .productList_container{
      grid-column: 2;
     
  }
  
  .productLink{
      text-decoration: none;
     
  }
  .productList_text{
      margin:0%
     
  }
  .price{
      display: flex;
      justify-content: center;
      padding: 5%;
      padding-bottom: 0%;
      margin: 0%;
      align-items: center;
   }
  
  .categoryList__container{
      display: grid;
      grid-column: 1fr 3fr 1fr;
      grid-row: 1;
   
  }
  
  .categoryList__category{
      grid-column: 1;
  }
  .listImg{
      height: 100px;
      width: 100px;
  }
  
  .categoryList__shopBy{
      grid-column: 1;
  }
  .actionButton {
      background-color: rgba(163, 145, 97, 1);
      color: white;
      padding: 0.5rem;
      text-transform: uppercase;
      font-weight: 600;
      border: none;
      margin: 2rem;
      margin-top: 0%;
      cursor: pointer;
  }
  
  .currentPrice {
      color: rgba(163, 145, 97, 1);
      font-size: 20px;
  }
  
  .previousPrice {
      color: #444141;
      text-decoration: line-through;
      font-size: 13px;
      padding: 5%;
  }

  .navItem a {
    color: rgba(163, 145, 97, 1);
    font-size: 15px;
    text-decoration: none;
}
.shopNavigation{
    list-style: none;
}

.productDiv {
    text-align: center;
}
  

