.categoryList__body {
    background-color: black;

}

.categoryList {
    background-color: white !important;
    color: black;


    /* height: auto; */
    display: grid;
    grid-template-areas:
        'category sortby sidebar'
        'category content sidebar'
        'shopby content sidebar'
    ;

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 88px 1fr 1fr;

    margin: 2px 5%;
}

/* grid body  */

.categoryList__header {
    grid-area: sortby;

    margin: 1% 1% 1% 1%;
}

.categoryList__sortBy {
    background: lightgray;

    padding: 10px;
}

.categoryList__h1 {
    padding: 10px;
}

.categoryList__category {
    grid-area: category;

    background: lightgray;
    color: beige;
    margin: 2% 2% 2% 2%;
    padding: 10px;
}

.categoryList__shopBy {
    grid-area: shopby;

    background: lightgray;
    margin: 2% 2% 2% 2%;
    padding: 10px;
}

.categoryList__products {
    grid-area: content;

    padding: 20px;
    margin: 1% 1% 1% 1%;
}

.categoryList__sidebar {
    grid-area: sidebar;

    margin: 2% 2% 2% 2%;
    padding: 10px;
}

.categoryList__header,
.categoryList__category,
.categoryList__shopBy,
.categoryList__products,
.categoryList__sidebar {
    color: black;
}

.categoryList__h3 {
    text-transform: uppercase;
}

/* ---  */

.categoryNav__navItem {
    color: black !important;
}




.shop__categoryContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}



.selectBar {
    width: 100%;
    height: 5vh;
    background-color: rgb(222, 220, 220);
    padding: 2rem;
    text-transform: uppercase;
    grid-column: 2;
    grid-row: 1;
}

/* ----------------categoryListFromShop.js--------------  */

.categoryList__Ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.li__box {

    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 20%;
    margin: 0 1%;
}

.currentPrice {
    color: rgba(139, 109, 50, 0.848);
    font-weight: 500;
}

.previousPrice {
    font-size: 14px;
    text-decoration: line-through;
    color: darkgray;
}

.div__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 200px;
}

.figure__img {
    padding: 10% 0;
}

.productList__img {
    /* /* height: 8em; */
    width: 10em;
}



/* Leas search and show in a grid */

/* Updated CSS to arrange grid containers */
.product__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  

  


