.events__body {
    text-align: center;
    background-color: white;
}

.events__header h2 {
    font-size: 3rem; /* 3rem is equivalent to 48 pixels */
    margin-bottom: 20px;
}

.events__header {
    background-image: url(/img/gradient-color-line-wave-background_483537-3986.avif);
    margin-bottom: 80px;
    height: 300px;
    padding-top: 150px;
}


/* Styling of the flex box */ 
.flex-container {
    display: flex;
    justify-content: space-between; 
}

.container {
    flex: 1;
    padding: 20px;
}




/* Styling of the grid inside the felx box */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-item {
    padding: 10px;
    text-align: center;
}

.grid-item:not(:empty) {
    border: 1px solid #ddd; /* Add a light grey border to non-empty items */
}

.grid-item img {
    max-width: 100%; /* Ensure images don't overflow their containers */
}