.main__container {
  /* width: 100%;
    margin: 0 auto; */
}

.hero {
  height: 600px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 10%; */
}

.hero__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0.5; */
}

.hero__container {
  width: 180px;
  position: absolute;
  margin-top: 5%;
}

.hero__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 180px;
  width: 180px;
  font-size: 36px;
  border: 1px solid white;
}

.hero__url {
  font-size: 18px;
}

/* ------------------------------------- */

.statement h2 {
  text-transform: uppercase;
}
