/* Styling of the shopCategory.html page */

.shop__category__body {
    background-color: black;
    color: white;
}

.grid__container {
    display: grid;
    grid-template-columns: 3fr repeat(4, 2fr) 3fr;
    grid-template-rows: repeat(30% 30% 30% 30%); 
    grid-column-gap: 2px;
    grid-row-gap: 0; /* No gap between rows */
    padding-top: 120px;
}
    
    .grid__container a {
        color: white;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 1 / 4 / 2 / 5; }
    .div5 { grid-area: 1 / 5 / 2 / 6; }
    .div6 { grid-area: 1 / 6 / 2 / 7; }
    .div7 { grid-area: 2 / 1 / 3 / 2; }
    .div8 { grid-area: 2 / 2 / 3 / 3; }
    .div9 { grid-area: 2 / 3 / 3 / 4; }
    .div10 { grid-area: 2 / 4 / 3 / 5; }
    .div11 { grid-area: 2 / 5 / 3 / 6; }
    .div12 { grid-area: 2 / 6 / 3 / 7; }
    .div13 { grid-area: 3 / 1 / 4 / 2; }
    .div14 { grid-area: 3 / 2 / 4 / 3; }
    .div15 { grid-area: 3 / 3 / 4 / 4; }
    .div16 { grid-area: 3 / 4 / 4 / 5; }
    .div17 { grid-area: 3 / 5 / 4 / 6; }
    .div18 { grid-area: 3 / 6 / 4 / 7; }
    .div19 { grid-area: 4 / 1 / 5 / 2; }
    .div20 { grid-area: 4 / 2 / 5 / 3; }
    .div21 { grid-area: 4 / 3 / 5 / 4; }
    .div22 { grid-area: 4 / 4 / 5 / 5; }
    .div23 { grid-area: 4 / 5 / 5 / 6; }
    .div24 { grid-area: 4 / 6 / 5 / 7; }

    .grid__container div {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 200px; 
    }

    .div2 {
        background-image: url('/img_ShopCategory/ShopByBrand.png');
        background-size: cover; 
        height: 50%;
    }
    .div3 {
        background-image: url('/img_ShopCategory/Amplifiers.png');
        background-size: cover; 
    }
    .div4 {
        background-image: url('/img_ShopCategory/Speakers.png');
        background-size: cover; 
    }
    .div5{
        background-image: url('/img_ShopCategory/TurnTables.png');
        background-size: cover; 
    }
    .div8 {
        background-image: url('/img_ShopCategory/CdPlayers.png');
        background-size: cover; 
    }
    .div9 {
        background-image: url('/img_ShopCategory/Streamers.png');
        background-size: cover; 
    }
    .div10 {
        background-image: url('/img_ShopCategory/Cables.png');
        background-size: cover; 
    }
    .div11 {
        background-image: url('/img_ShopCategory/Funiture.png');
        background-size: cover; 
    }
    .div14 {
        background-image: url('/img_ShopCategory/Headphones.png');
        background-size: cover; 
    }
    .div15 {
        background-image: url('/img_ShopCategory/HomeCinemaCategoryList.png');
        background-size: cover; 
    }
    .div16 {
        background-image: url('/img_ShopCategory/Outlet.png');
        background-size: cover; 
    }
    .div17 {
        background-image: url('/img_ShopCategory/Ebay.png');
        background-size: cover; 
    }
    .div20 {
        background-image: url('/img_ShopCategory/CeilingSpeakers.png');
        background-size: cover; 
    }
    .div21 {
        background-image: url('/img_ShopCategory/Tvs.png');
        background-size: cover; 
    }
    .div22 {
        background-image: url('/img_ShopCategory/Vinyl.png');
        background-size: cover; 
    }
    .div23 {
        background-color: rgba(163, 145, 97, 1);
    }
    
    .button23 {
        background-color: rgba(104, 82, 37, 1);
        border: none;
        color: white;
        padding: 5px 10px;
        cursor: pointer;
    }
